In [ ]:
-- MayÃºsculas en nombres de productos
SELECT producto_id, UPPER(nombre) AS nombre_mayus, categoria
FROM dbo.dim_productos;

In [ ]:
-- AÃ±o de alta de clientes y conteo
SELECT YEAR(fecha_alta) AS anio_alta, COUNT(*) AS clientes_registrados
FROM dbo.dim_clientes
GROUP BY YEAR(fecha_alta)
ORDER BY anio_alta;

ðŸŸ¢ Ejercicio: Extraer mes de alta y agrupar clientes por segmento y mes.

In [ ]:
SELECT MONTH(fecha_alta) AS mes_alta, segmento, COUNT(*) AS clientes
FROM dbo.dim_clientes
GROUP BY MONTH(fecha_alta), segmento
ORDER BY mes_alta, segmento;

ðŸŸ  Ejercicio: Redondear margen promedio de productos a 2 decimales.

In [ ]:
SELECT ROUND(AVG(precio_unitario - costo_unitario),2) AS margen_promedio
FROM dbo.dim_productos;

ðŸ”´ Reto: Diferencia en dÃ­as entre primera y Ãºltima fecha de venta registrada.

In [ ]:
SELECT DATEDIFF(day, MIN(fecha), MAX(fecha)) AS dias_span
FROM dbo.fact_ventas;

Errores comunes: CAST incorrecto en comparaciones; olvidar formato de fecha; asumir que NVARCHAR siempre basta.