# 1.9 Proyecto de Cierre (Nivel Junior)\n\n- Objetivo: integrar SELECT, JOIN, filtros, agregaciones y subconsultas.\n- Prerrequisitos: dataset preparado, Level01 1.1â€“1.8 completado.\n- Entregables: consultas para tablero ejecutivo bÃ¡sico.\n- Reto: consolidar con CTEs y controles de calidad.\n- Errores comunes: mezclar granularidad, filtros inconsistentes, duplicidades en agregaciones.

## Enunciado

Eres analista junior. El equipo comercial necesita un mini dashboard con: 
1. Ventas totales y margen total.
2. Top 5 productos por unidades.
3. Clientes nuevos Ãºltimos 30 dÃ­as.
4. Ticket promedio por regiÃ³n.
5. Productos sin ventas (catalogados pero nunca vendidos).
6. Ventas con anomalÃ­as (descuento >50% o cantidad <=0).
7. ParticipaciÃ³n de cada segmento (por unidades y por margen).

ðŸŸ¢ Paso 1: MÃ©tricas globales.

In [ ]:
SELECT SUM(cantidad) AS unidades_totales,
       SUM(cantidad * precio_unitario * (1 - descuento_pct/100.0)) AS ingresos_est,
       SUM(cantidad * (precio_unitario - costo_unitario)) AS margen_total
FROM dbo.fact_ventas fv
JOIN dbo.dim_productos p ON fv.producto_id = p.producto_id;

ðŸŸ¢ Paso 2: Top 5 productos.

In [ ]:
SELECT TOP 5 p.producto_id, p.nombre, SUM(fv.cantidad) AS unidades
FROM dbo.fact_ventas fv
JOIN dbo.dim_productos p ON fv.producto_id = p.producto_id
GROUP BY p.producto_id, p.nombre
ORDER BY unidades DESC;

ðŸŸ  Paso 3: Clientes nuevos Ãºltimos 30 dÃ­as.

In [ ]:
SELECT cliente_id, nombre, fecha_alta
FROM dbo.dim_clientes
WHERE fecha_alta >= DATEADD(DAY,-30,CAST(GETDATE() AS DATE));

ðŸŸ  Paso 4: Ticket promedio por regiÃ³n.

In [ ]:
SELECT r.nombre_region,
       AVG(fv.cantidad * p.precio_unitario * (1 - descuento_pct/100.0)) AS ticket_promedio
FROM dbo.fact_ventas fv
JOIN dbo.dim_productos p ON fv.producto_id = p.producto_id
JOIN dbo.dim_clientes c ON fv.cliente_id = c.cliente_id
JOIN dbo.dim_regiones r ON c.region_id = r.region_id
GROUP BY r.nombre_region;

ðŸŸ  Paso 5: Productos sin ventas.

In [ ]:
SELECT p.producto_id, p.nombre
FROM dbo.dim_productos p
LEFT JOIN dbo.fact_ventas fv ON p.producto_id = fv.producto_id
WHERE fv.producto_id IS NULL;

ðŸ”´ Paso 6: Ventas con anomalÃ­as.

In [ ]:
SELECT venta_id, fecha, producto_id, cliente_id, cantidad, descuento_pct
FROM dbo.fact_ventas
WHERE descuento_pct > 50 OR cantidad <= 0;

ðŸ”´ Paso 7: ParticipaciÃ³n por segmento (unidades y margen).

In [ ]:
SELECT c.segmento,
       SUM(fv.cantidad) AS unidades,
       SUM(fv.cantidad * (p.precio_unitario - p.costo_unitario)) AS margen
FROM dbo.fact_ventas fv
JOIN dbo.dim_clientes c ON fv.cliente_id = c.cliente_id
JOIN dbo.dim_productos p ON fv.producto_id = p.producto_id
GROUP BY c.segmento;

âš™ï¸ DesafÃ­o Senior (Opcional): Crear una sola consulta con CTEs que devuelva todas las tablas anteriores en salida separada usando mÃºltiples CTE y SELECT finales etiquetados.

In [ ]:
-- Sugerencia de estructura de CTEs (no ejecutar si no se desea):
-- WITH ventas_globales AS ( ... ), top_productos AS ( ... ), clientes_nuevos AS ( ... ),
-- ticket_region AS ( ... ), sin_ventas AS ( ... ), anomalÃ­as AS ( ... ), segmento AS ( ... )
-- SELECT * FROM ventas_globales;
-- SELECT * FROM top_productos;
-- ...

Errores comunes: no aislar filtros; duplicar productos en agregaciones; inconsistencia de fechas.

# CrÃ©ditos

Este material fue revisado y enriquecido parcialmente mediante asistencia de IA (OpenAI y Claude); la validaciÃ³n y decisiones editoriales finales son humanas.

---
## NavegaciÃ³n
[â¬…ï¸ Anterior](08_calidad_datos_basica.ipynb)
---